* {

}

html {
  font-size: 10px;
  opacity:.1;
    padding: 0;
  margin-left:-10px;
}

body {
  background: #222326;
}

body, footer {
  color: #333745;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


img{

}
.landingPage{
     padding-top:10%;
 }
.landingPage img{

}

#demo li {

}

.dragend-page{
    background:#222326;
}

article{
  width:100%;
     
}